.doctor-dialog {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    
}

.doctor-dialog > img {
    position: absolute;
    max-width: 100%;
    height: 220px;
    bottom: 0;
}

.balloon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    position: relative;
}

.balloon > img {
    width: 100%;
}

.dialog-text > p {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.dialog-text {
    position: absolute;
    text-align: center;
}

.dialog-text > button {
    border-radius: 16px;
    padding: 10px 40px;
    font-size: 1.5rem;
    background-color: var(--color-yellow);
    color: white;
}

@media (max-width: 600px) {
    .dialog-text > p {
        font-size: 1.25rem;
    }

    .dialog-text > button {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .dialog-text > p {
        font-size: 1rem;
    }

    .dialog-text > button {
        font-size: 1rem;
        margin-top: -30px;
    }

    /* .doctor-dialog {
        height: 120vh;
    } */
}