.doctor-dialog {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.doctor-dialog > img {
    margin-top: -90px;
    height: 220px;
}

.balloon {
    max-width: 600px;
    position: relative;
}

.balloon > img {
    width: 100%;
}

.dialog-text > p {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 16px;
}

.dialog-text {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 15%;
}

.dialog-text > button {
    border-radius: 16px;
    padding: 10px 40px;
    font-size: 1.5rem;
    background-color: var(--color-yellow);
    color: white;
}

@media (max-width: 600px) {
    .dialog-text {
        top: 42%;
        left: 25%;
    }

    .dialog-text > p {
        font-size: 1rem;
    }

    .dialog-text > button {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .dialog-text {
        left: 20%;
    }

    .dialog-text > p {
        font-size: 0.8rem;
    }

    .dialog-text > button {
        font-size: 0.8rem;
        margin-top: -30px;
    }

    .doctor-dialog {
        height: 120vh;
    }
}