.pokemon-list {
    position: relative;
    padding: 60px;
    margin: 0px 200px 30px 200px;
    background-color: #fff;
    border-radius: 32px 10px 10px 32px;
    height: 60vh;
    width: 60vw;
    overflow-y: scroll;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.5);
}

.pokemon-list > img {
    position: absolute;
    height: 25px;
}

.pokemon-list > .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    scroll-behavior: smooth;
}

.pokemon-list::-webkit-scrollbar {
    background: var(--color-blue);
    width: 10px;
    border-radius: 16px;
}

.pokemon-list::-webkit-scrollbar-thumb {
    background: var(--color-dark-blue);
    border-radius: 16px;
}

@media (max-width: 1024px) {
    .pokemon-list {
        padding: 20px;
        margin: 0px 20px 20px 20px;
        width: 80vw;
    }
}