.three-pokemons {
    min-height: 100vh;
    max-height: 150vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--color-dark-blue);
}

.three-pokemons > h1 {
    margin-top: 40px;
    color: white;
    font-size: 3rem;
}

.three-pokemons > header > img {
    height: 100px;
}

.three-pokemons > .initial-choices {
    height: 85%;
    background-color: var(--color-dark-blue);
}

.initial-choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}