.input-text > input {
    
    border: none;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 20px;
}

.input-text {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-text > p {
    margin-left: 8px;
    margin-bottom: 4px;
}