.pokedex-page {
    background-color: var(--color-blue);
    height: 125vh;
}

.pokedex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pokedex > .title > h2 {
    background-color: var(--color-blue);
}
